/* CSS Document */

 body {
    background: url('images/back.png');
    text-align: center;
    font-family: "Times New Roman (Headings CS)";
    font-size: 16px;
    color: black;
    position: relative;
    margin: 0px 0 60px 0;
    padding: 0;
  }
  a {
    color: rgb(69,69,69);
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
 #page {
    width: 716px;
    background: url('images/background-body.png');
    margin: 0 auto;
    text-align: left;
    position: relative;
 }
 #header {
    width: 100%;
    height: 197px;
    background: url('images/header.png') no-repeat;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 21px;
    color: rgb(147,147,147);
 }
 #contain {
    background: url('images/shadow.png') top left no-repeat;
    padding: 15px 20px 10px 20px;   
 }
 h1, h2 {
    margin: 10px 0 10px 14px;
    padding: 0;
    font-size: 18px;
    color: rgb(23,12,165);
	font-style: shadow;
 }
 p {
    margin: 0;
    padding: 0;
    
 }
 #menu {
    padding: 5px 30px;
    margin: 0 8px;
    background: url('images/menu.png');
    #height: 26px;
    min-height: 26px;
    line-height: 26px;    
 }
 #menu li {  
    list-style: none;
    float: left;   
 }
 #menu li a {
    display: block;    
    padding: 0 10px;
    background: url('images/link-border.png') no-repeat right;
    color: rgb(0,49,98);
	size:20;
    text-decoration: none;
 }
 #menu li.non-image a {
    background: transparent;
 }
 #menu li a:hover {
    color: rgb(147,38,38);
    text-decoration: underline;
 }
 .cleaner {
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    clear: both;
 }
 p#footer {
    padding: 16px 8px;
    margin: 10px 0 0 0;
    background: url('images/footer.png') no-repeat bottom;
    text-align: center; 
 }
 #pattern-gradient{
    height: 160px;
    width: 100%;
    background: url('images/textur.png') repeat-x;
    position: absolute; top: 0; left: 0;
    z-index: -1;
 }
 img.left {
    float: left;
    margin: 10px 15px 5px 5px;
 }
 #contain p {
    margin: 18px;
    text-align: justify;
 }
 .links {
    width: 716px;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    color: rgb(244,244,244);
 }
 .links li {
    list-style: none;
    display: inline;
    padding: 1px;  
 }
 .links li a {
    color: rgb(244,244,244);
    font-size: 90%;   
 }
 .links .right-link {
    margin-right: 20px;
 }

